:root{
   
    --primary-color:radial-gradient(circle, rgba(38,57,177,1) 0%, rgba(39,41,109,1) 100%);
    --secondary-color:#ffe35e;
    --default-font-family:'Sora', sans-serif;
    --heading-font-family:'Ubuntu', sans-serif;
    --heading-color:#f5f9ee;
}

body{
    margin-top: 70px;
    background:var(--primary-color);;
}

h1,
h2,
h3 {
  margin: 0 auto;
  padding: 5px;
}

h1,h2{
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
}
h1,h3{
    color: var(--secondary-color);
}

h2,a {
    color: var(--heading-color);  
}

h3,a{
    font-family:'Ubuntu', sans-serif ;
}

img{
    padding-right: 60px;
}
.tag-line{
    padding: 30px 10px;
}
@media(min-width:900px){
    body{
        margin-top: 150px;
    }
}