body{
    background: aqua;
}
/*font-family: 'Sora', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

h1{
font-family: 'Ubuntu', sans-serif;
font-weight: bold;

}

p{
    font-family: 'Sora', sans-serif;
    
}
.school{
    font-weight: bold;
    color: blueviolet;
}